{
  "root": true,
  "globals": {
    "__VERSION__": "readonly"
  },
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint", "prettier", "vue"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "plugin:vue/vue3-recommended"
  ],
  "rules": {
    "no-console": 1, // Means warning
    "prettier/prettier": 2, // Means error
    "vue/multi-word-component-names": 0,
    "vue/no-v-html": 0,
    "vue/html-self-closing": 0,
    "vue/max-attributes-per-line": 0,
    "vue/singleline-html-element-content-newline": 0
  }
}
